.article-list-item {
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 0.5s;
}
.article-list-item-content{
    min-height: 116px;
}
.article-list-item-commands{
    text-align: right;
}
.article-list-item:hover{
    background-color: #eee;
}
.article-list-item:hover .image{
    filter: brightness(0.6);
}
.article-list-item .image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: all 0.5s;
}
.btn{
    border-radius: 0px;
}

.btn-dark{
    border: 0px;
    background-color: #000;
}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
}

footer a, footer a:hover{
    color: white;
    text-decoration: none;
}

h1{
    border-bottom: 1px solid #ccc;
}
header{
    background-color: rgb(14, 78, 196);
}

.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #ccc;
}
.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus{
    border: 0px;
    outline: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.secondary-nav{
    background-color: #000;
}

@media only screen and (max-width: 768px) {
    .article-list-item{
        border: 1px solid #ccc;
    }
}