body{
    font-family: Arial, Helvetica, sans-serif;
}

.articlebox
{
    position: relative;
    height: 275px;
    width: 100%;
}

.advertisingbox
{
    position: relative;
    height: 550px;
    width: 100%;
    background-color: #ccc;
    padding: 6px;
    text-align: center;
}

.articlebox:hover .image
{
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

.articlebox .category
{
    font-size: 0.8rem;
    text-transform: uppercase;
}
.articlebox .title
{
    font-size: 1.1rem;
}

.articlebox .image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    transition: filter 0.5s;
}

.articlebox.primary
{
    height: 550px;
}
.articlebox.primary .image{
    border-radius: 0px;
    height: 100%;
}

.articlebox.medium
{
    height: 275px;
}
.articlebox.medium .image{
    border-radius: 0px;
    height: 100%;
}

.articlebox.primary .titlebox, .articlebox.medium .titlebox
{
    text-shadow: 2px 2px black;
    position: absolute;
    padding: 3px;
    bottom: 0px;
    color: white;
}
.articlebox.primary .titlebox .title
{
    font-weight: bold;
    font-size: 1.9rem;
}
.articlebox.primary .titlebox .category
{
    font-size: 1rem;
}

.articlebox.small .image
{
    border-radius: 0px;
    height: 160px;
}

.category-mnu-item
{
    display: inline-block;
    text-decoration: none;
    color: rgb(70, 101, 200);
    border-bottom: 4px solid transparent;
}

.category-mnu-item:hover,.active
{
    border-bottom: 4px solid rgb(57, 54, 221);
    text-decoration: none;
}

.categories-navbar{
    padding: 10px 0px;
}

header{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.img-ad{
    width: 100%;
}

.img-ad-v-container{
    text-align: right;
}
.img-ad-v{
    height: 100%;
    max-height: 550px;
    object-fit: contain;
}

.logo{
    height: 60px;
}

section{
    padding: 20px 0px;
}